*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}
body{
    background-color: #203239;
    color:white;
}
html{
    scroll-behavior: smooth;
}